<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Stock Tracker{% endblock title %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'stocktracker/style.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>


</head>
<body>

<!--Top Menu Bar -->
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!--Logo-->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MainNavBar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="{% url 'stocktracker:index' %}" class="navbar-brand">FreeBerg</a>
                    </div>
                    <div class="collapse navbar-collapse" id="MainNavBar">
                        <!--left navbar-->
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">My Stocks</a></li>
                            <li><a href="{% url 'stocktracker:allstocks' %}">Stocktrack</a></li>
                            <li><a href="#">Comparisons</a></li>
                        </ul>

                        <!--Working Search Bar-->
                        <form class="navbar-form navbar-left" role="search" method="GET" action="">
                            <div class="form-group">
                            <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                            </div>
                        <button type="submit" class="btn btn-default">Search</button>
                        </form>

                        <!--Right navbar-->
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
        </nav>

{% block body %}


{% endblock %}
</body>
</html>