{% extends 'stocktracker/base.html' %}


{% block body %}

    <!--image-->
    <div class="image" >
            <img src="../../static/stocktracker/images/background2.jpg" alt="background" width="100%" height="10%">
            <div class="text">
                <h2>STOCK MY LIFE</h2>
            </div>
    </div>
        <!--3 components-->
        <div class="jumbotron">
            <div class="row">
                <!--nested row to make the columns centred-->
                <div class="col-md-8 col-md-offset-2">
                    <div class="row>">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3 class="text-center"><u><a href="#"style="color:#2b2d2f">My Stocks</a></u></h3>
                                    <p class="text-center">Live information on stock performance</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3 class="text-center"><u><a href="#"style="color:#2b2d2f">Stocktrack</a></u></h3>
                                    <p class="text-center">A detailed analysis on stock performance</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3 class="text-center"><u><a href="#"style="color:#2b2d2f">Comparison</a></u></h3>
                                    <p class="text-center">Comparing the performance of 2 different stocks</p>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}
